body {
    margin: 0px;
    padding: 0px;
    font-family: '黑体';
}
ul {
    margin: 0px;
    padding: 0px;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}


.container {
    width: 1280px;
    height: 1024px;
    margin: 0px auto;
    float: left;
    background: url(../images/report.jpg) no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}

/*上部*/
.top {
    width: 1280px;
    height: 170px;
    float: left;

}

.top .logo {
    width: 380px;
    height: 140px;
    float: left;
    margin: 15px 30px;
}

.top .name {
    width: 730px;
    height: 140px;
    float: right;
    color: #000;
    font-size: 60px;
    text-align: center;
    line-height: 140px;
    margin-top: 15px;
    font-family: '宋体';
    letter-spacing: 1px;
}

.top .date {
    width: 370px;
    height: 90px;
    float: left;
    color: #9f8b97;
    font-size: 28px;
    text-align: right;
    line-height: 45px;
    margin-top: 43px;
    letter-spacing: 1px;
}

.top .time {
    width: 290px;
    height: 90px;
    float: left;
    font-size: 90px;
    color: #4e3f49;
    text-align: right;
    line-height: 90px;
    margin-top: 43px;
    letter-spacing: 3px;
}

/*中间*/
.main {
    width: 1200px;
    height: 560px;
    float: left;
    margin: 10px 0 0 20px;

}

/*列表部分*/
.main .table-1 {
    width: 360px;
    height: 460px;
    float: left;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 200px;
    margin-left: 20px;
    border-radius: 20px;

}

.table-1 .title {
    width: 360px;
    height: 100px;
    float: left;
    color: #FFFFFF;
    line-height: 100px;
    text-align: center;
    font-size: 48px;

    text-shadow: #000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;
}

.table-1 .down {
    width: 330px;
    height: 320px;
    float: left;
    overflow: hidden;
    font-size: 24px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: '黑体';
    color: #000;
}

.table-1 .down .deng-list {
    width: 360px;
    height: auto;
    float: left;
    overflow-y: hidden;
    overflow: hidden;
}

.table-1 .down .deng-list .dhlist {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    overflow: hidden;
}

.down .cell-1 {
    width: 460px;
    height: 110px;
    float: left;
    margin: 0 100px;
}

.cell-1 .cell-1-n-3 {
    width: 300px;
    height: 110px;
    float: left;
    font-size: 72px;
    color: #4e3f49;
    line-height: 110px;
    text-align: left;
}

.cell-1 .cell-1-num {
    width: 140px;
    height: 58px;
    float: left;
    font-size: 44px;
    color: #fff;
    line-height: 62px;
    text-align: center;
    border-radius: 12px;
    background: #4e3f49;
    margin-top: 24px;
}

/*叫号部分*/
.main .table-2 {
    width: 720px;
    height: 600px;
    float: left;
    margin-left: 20px;
    margin-top:60px;
    overflow:hidden;
}
.table-2 .jiaohao {
    width: 720px;
    height: 620px;
    float: left;

}
.jiaohao .input_txt {
    width: 600px;
    height: 120px;
    border-radius: 60px;
    background-color: #fff;
    color: #000;
    font-size: 60px;
    border: 0px;
    line-height: 120px;
    overflow: hidden;
    margin-bottom: 18px;
    border: 1px solid #8f8464;
    padding: 0 19px;
    box-shadow: 3px 3px 1px #989490 inset,-3px 3px 1px #e0d5bb inset;
}

.jiaohao .keyborde {
    width: 720px;
    height:520px;
    overflow:hidden;
    border-radius:20px;

    background:rgba(255,255,255,0.5);
}
.keyborde .nmbkey {
    width: 100px;
    height: 120px;
    font-size: 40px;
    text-align: center;
    line-height: 140px;
    background-color: #e1e4e5;
    color: #000;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    border-radius: 10px;
    box-shadow: 3px 3px 1px #3b3939;
}
.keyborde .enterkey {
    width: 200px;
    height: 260px;
    font-size: 70px;
    text-align: center;
    line-height: 80px;
    background-color: #fe8a00;
    color: #fff;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    border-radius: 10px;
    box-shadow: 3px 3px 1px #3b3939;
}
.keyborde .delkey {
    width: 200px;
    height: 100px;
    font-size: 48px;
    text-align: center;
    line-height: 100px;
    background-color: #55cab3;
    color: #fff;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
    border-radius: 10px;
    box-shadow: 3px 3px 1px #3b3939;
}
.keyborde .resetkey {
    width: 200px;
    height: 120px;
    font-size: 70px;
    text-align: center;
    line-height: 140px;
    background-color: #eee;
    color: #000;
    margin-top: 20px;
    margin-right: 20px;
    float: right;

    border-radius: 10px;
    box-shadow: 3px 3px 1px #3b3939;
}

/*底部*/
.bottom {
    width: 1280px;
    height: 82px;
    float: left;
    background: url(../images/back.jpg) no-repeat;
    font-size: 42px;
    color: #fe8a00;
    text-align: center;
    line-height: 82px;
}
#bg {
    display: none;
    width: 1280px;
    height: 790px;
    background:rgba(0,0,0,0.7);
    overflow: hidden;
    position: absolute;
    top: 190px;

    z-index: 1001;
}

#showmsg {
    width: 1060px;
    height: auto;
    color: #414d3d;
    z-index: 1005;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #ebebeb;
}

#showmsg .title {
    text-align: left;
    padding-left:80px;
    height: 140px;
    padding-top: 20px;
    font-size: 64px;
    line-height:140px;
    background-color: #fd8a00;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}
#showmsg .info_msg2{
    width: 80%;
    padding: 0 10%;
    font-size: 30px;
    line-height: 50px;
    text-align:left;
}
#showmsg .btnlist {
    text-align: center;
    width: 100%;
    min-height: 200px;
    font-size: 60px;
    height: auto;
    line-height: 200px;
    overflow: hidden;

}

#showmsg .btnlist2 {
    text-align: center;
    width: 1200px;
    min-height: 200px;
    line-height:80px;
    font-size: 40px;
    height: auto;
    overflow: hidden;
}

#showmsg .btnlist .rows {
    width: 1400px;
    height: 100px;
    float: left;
    font-size:50px;
}
#showmsg .btnlist .rows .btn {
    width: 100px;
    height: 50px;
    margin-top: 25px;
    border: 0px;
    border-radius: 5px;
    background-color: #5f2452;
    font-size:40px;
    color:#fff;
}
#showmsg .w20 {
    width: 350px;
    height: 100px;
    line-height:100px!important;
    text-align: center;
    float: left;
    overflow: hidden;

}
#showmsg .w30 {
    width: 300px;
    height: 100px;
    line-height:100px!important;
    text-align: center;
    float: left;
    overflow: hidden;

}
#showmsg .w25 {
    width: 25%;
    height: 100px;
    line-height: 100px !important;
    text-align: center;
    float: left;
    overflow: hidden;
}

#showmsg .bottom {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#showmsg .back_btn {
    text-align: center;
    width: 100px;
    height: 78px;
    border-radius: 5px;
    border: 0px;
    font-size: 30px;
    background-color: #fe8a00;
    color: #fff;
    margin-left: 20px;
    display: inline-block;
    line-height: 78px;

}

#showmsg .back_btn2 {
    text-align: center;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: 0px;
    font-size: 30px;
    background-color: #55cabd;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
    line-height: 60px;


}
#showmsg .btm_tips
{

    width: 1400px;
    height: 80px;
    font-size: 36px;
    line-height:80px;
    background-color: #fd8a00;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;

    text-align: center;
    overflow: hidden;
}

#divAlter {
    width: 1240px;
    background-color: #ebebeb;
    display: none;
    color: #fff;
    z-index: 1002;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding-bottom: 20px;

}

#divAlter .title {
    text-align: center;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    font-size: 50px;
    background-color: #fe8a00;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#divAlter .btnlist {
    text-align: center;
    width: 100%;
    font-size: 40px;
    height:300px;
    overflow: hidden;
}

#divAlter .btn_server {
    width: 500px;
    height: 200px;
    margin-left: 40px;
    background-color: #55cabd;
    text-align: center;
    color: #fff;
    line-height: 200px;
    border-radius: 5px;
    border: 0px;
    font-size: 72px;
    overflow: hidden;
    display: inline-block;
    margin-top:40px;
}
#divAlter .btn_server3 {
    width: 330px;
    height: 200px;
    margin-left: 40px;
    background-color: #55cabd;
    text-align: center;
    color: #fff;
    line-height: 200px;
    border-radius: 5px;
    border: 0px;
    font-size: 72px;
    overflow: hidden;
    display: inline-block;
    margin-top: 40px;
}
#divAlter .btn_server4 {
    width: 250px;
    height: 150px;
    margin-left: 40px;
    background-color: #55cabd;
    text-align: center;
    color: #fff;
    line-height: 150px;
    border-radius: 5px;
    border: 0px;
    font-size: 48px;
    overflow: hidden;
    display: inline-block;

    margin-top: 80px;
}
#divAlter .btn_server5 {
    width: 250px;
    height: 100px;
    margin-left: 40px;
    background-color: #55cabd;
    text-align: center;
    color: #fff;
    line-height: 100px;
    border-radius: 5px;
    border: 0px;
    font-size: 36px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-top: 40px;
}

#divAlter .back_btn {
    text-align: center;
    width: 380px;
    height: 90px;
    border-radius: 45px;
    border: 0px;
    font-size: 45px;
    margin-left: 430px;
    background-color: #fff;
    color: #414d3d;

}

.timeback {
    position: absolute;
    left: 55%;
    top: 70px;
    display: none;
    font-family: "微软雅黑";
    font-size: 32px;
    text-align: center;
    color: red;
}