@font-face {
	font-family: FZLTHK;
	src: url("FZLTHK.TTF"); /*鏂规鍏颁涵榛慱GBK*/
}

@font-face {
	font-family: FZLTZCHK;
	src: url("FZLTZCHK.TTF"); /*鏂规鍏颁涵涓矖榛慱GBK*/
}

@font-face {
	font-family: FZLTXCHK;
	src: url("FZLTXCHK.TTF"); /*鏂规鍏颁涵缁嗛粦_GBK*/
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "FZLTHK";
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

/*鏁翠綋*/
.container {
	width: 1920px;
	height: 1080px;
	float: left;
	background: left top url(/images/main_back.png) no-repeat;
	overflow: hidden;
}

/*涓婇儴*/
.top {
	width: 1920px;
	height: 150px;
	margin-top: 12px;
	overflow: hidden;
}

.top .logo {
	width: 460px;
	height: 150px;
	float: left;
}

.top .name {
	width: 800px;
	height: 150px;
	float: left;
	font-size: 90px;
	line-height: 150px;
	text-align: center;
	color: #fff100;
}

.top .date {
	width: 370px;
	height: 150px;
	float: left;
	color: #c8e9ee;
	font-size: 28px;
	text-align: right;
	line-height: 45px;
	margin-top: 43px;
	font-family: "FZLTHK";
	letter-spacing: 1px;
}

.top .time {
	width: 290px;
	height: 150px;
	float: left;
	font-size: 90px;
	color: #c8e9ee;
	text-align: right;
	line-height: 90px;
	margin-top: 43px;
	font-family: "FZLTXCHK";
	letter-spacing: 3px;
}

/*涓棿*/
.main {
	width: 1790px;
	height: 700px;
	float: left;
	margin-top: 30px;
	margin-left: 40px;
}

.main b {
	font-weight: normal;
	font-size: 30px;
}

.main .list {
	width: 1840px;
	height: 800px;
	overflow: hidden;
}

.main .list .title {
	width: 100%;
	height: 100px;
	color: #0a7cbd;
	overflow: hidden;
	font-family: FZLTHK;
	font-size: 42px;
	line-height: 100px;
}

.main .list .w1 {
	width: 323px;
	text-align: center;
	float: left;
}

.main .list .w2 {
	width: 377px;
	text-align: center;
	float: left;
}

.main .list .w3 {
	width: 1140px;
	text-align: center;
	float: left;
}

.main .list li {
	width: 100%;
	height: 140px;
	overflow: hidden;
	font-family: FZLTZCHK;
	font-size: 46px;
	float: left;
	color: #fff;
	line-height: 140px;
}

.main .list .w3 span {
	width: 380px;
	height: 140px;
	overflow: hidden;
	float: left;
	display: inline-block;
}

.main .list2 {
	width: 1840px;
	height: 700px;
	overflow: hidden;
}

.main .list2 .left {
	width: 700px;
	height: 700px;
	overflow: hidden;
	float: left;
}

.main .list2 .left li {
	width: 100%;
	height: 140px;
	overflow: hidden;
	font-family: FZLTZCHK;
	font-size: 46px;
	float: left;
	color: #fff;
	line-height: 140px;
}

.main .list2 .right {
	width: 1140px;
	height: 700px;
	overflow: hidden;
	float: left;
}

.main .list2 .right .dhlist {
	width: 100%;
	height: auto;
	overflow-y: hidden;
	overflow: hidden;
}

.main .list2 .right span {
	width: 380px;
	font-family: FZLTZCHK;
	font-size: 46px;
	float: left;
	color: #fff;
	line-height: 140px;
	height: 140px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
}

.bottom {
	width: 1920px;
	height: 90px;
	float: left;
	/*background: url(images/bottom_back.jpg) no-repeat;*/
	font-size: 42px;
	color: #c8e9ee;
	text-align: center;
	line-height: 105px;
	bottom: 0px;
	position: absolute;
}

.tips_back {
	width: 100%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
	height: 1080px;
	display: none;
	z-index: 99;
	position: absolute;
	top: 0px;
	left: 0px;
}

.tips {
	width: 1500px;
	height: 840px;
	position: absolute;
	top: 160px;
	left: 210px;
	opacity: 1;
	color: #0a7cbd;
	background-color: #fff;
}

.tips .title {
	width: 1500px;
	height: 300px;
	background-color: #3999cd;
	font-size: 10.125rem;
	text-align: center;
	line-height: 300px;
	margin-bottom: 20px;
	overflow: hidden;
	color: #fff;
}

.tips .content {
	width: 1480px;
	height: 500px;
	border: 10px solid #3999cd;
	display: table-cell;
	vertical-align: middle;
	line-height: 10.125rem;
	font-size: 10.125rem;
	text-align: center;
}

.tips .content span {
	font-size: 6.75rem;
}